@font-face {
	font-family: base-icon;
	src: url(base-icon.eot) format("embedded-opentype"), url(base-icon.woff) format("woff"), url(base-icon.ttf) format("truetype"), url(base-icon.svg) format("svg");
	font-weight: normal;
	font-style: normal;
}
html {
	min-height: 100%;
}
body {
	background: rgb(248, 248, 248); margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: Î¢ÈíÑÅºÚ,Arial; font-size: 12.5pt; min-height: 100%;
}
body {
	min-width: 100%; background-image: url("../images/bg_body.jpg");
}
a {
	color: rgb(51, 51, 51); text-decoration: none; cursor: pointer;
}
a:link {
	color: rgb(51, 51, 51);
}
a:visited {
	color: rgb(51, 51, 51);
}
img {
	border: currentColor; border-image: none;
}
div {
	display: block; -moz-box-sizing: border-box;
}
ul {
	margin: 0px; padding: 0px; display: block;
}
span {
	display: inline-block;
}
p {
	padding-bottom: 4px; display: block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.radius {
	border-radius: 0.5em;
}
#page {
	margin: 0px auto; width: 100%; overflow: hidden; min-height: 100%;
}
#more-class {
	margin: 0px auto; width: 100%; overflow: hidden; display: none; min-height: 100%; max-width: 800px;
}
#header {
	width: 100%; display: block; position: relative;
}
.header {
	width: 100%; display: block; position: relative;
}
#header a {
	height: 47px;
}
.header a {
	height: 47px;
}
#header .title {
	text-align: center; line-height: 47px; overflow: hidden; padding-left: 10px; font-size: 14pt; font-weight: bolder; margin-right: 67px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.header .title {
	text-align: center; line-height: 47px; overflow: hidden; padding-left: 10px; font-size: 14pt; font-weight: bolder; margin-right: 67px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#header .right {
	top: 0px; right: 0px; position: absolute;
}
.header .right {
	top: 0px; right: 0px; position: absolute;
}
#header img {
	width: 66px; height: 47px;
}
.header img {
	width: 66px; height: 47px;
}
#container {
	margin: auto; width: 100%; padding-right: 8px; padding-bottom: 10px; max-width: 800px;
}
#footer {
	margin: 0px auto; width: 100%; text-align: center; padding-top: 10px; padding-bottom: 8px; clear: both; max-width: 800px;
}
#footer a {
	color: rgb(102, 102, 102); font-size: 10pt; text-decoration: underline; margin-bottom: 4px;
}
#footer a:link {
	color: rgb(102, 102, 102);
}
#footer a:visited {
	color: rgb(102, 102, 102);
}
#footer p {
	padding: 6px; color: rgb(102, 102, 102); font-size: 10pt; margin-top: 0px; margin-bottom: 0px;
}
.box-btn {
	text-align: center; padding-right: 2px; margin-top: 8px;
}
.liebiao {
	width: 100%; overflow: hidden; margin-top: 10px;
}
.liebiao li {
	padding: 6px; border-radius: 0.2em; border: 1px solid rgb(198, 196, 194); border-image: none; overflow: hidden; margin-bottom: 13px; list-style-type: none; background-color: rgb(255, 255, 255);
}
.liebiao li a img {
	width: 80px; height: 60px; overflow: hidden; margin-right: 6px; float: left;
}
.liebiao li a {
	overflow: hidden; font-size: 12.5pt; display: block;
}
.liebiao li a span {
	overflow: hidden; display: block;
}
.liebiao li div {
	overflow: hidden;
}
.liebiao .small {
	color: rgb(102, 102, 102); overflow: hidden; padding-top: 2px; font-size: 10pt; display: block;
}
.liebiao .price {
	color: rgb(234, 133, 17); overflow: hidden; padding-top: 2px; font-size: 12pt; font-weight: 600; display: block;
}
.liebiao .del {
	text-decoration: line-through; margin-left: 10px;
}
.tuce li:nth-of-type(2n+1) {
	width: 48%; margin-right: 3px; margin-bottom: 10px; float: left; display: inline-block;
}
.tuce li:nth-of-type(2n) {
	width: 48%; margin-bottom: 10px; margin-left: 3px; float: right; display: inline-block;
}
.website li:nth-of-type(2n+1) {
	width: 48%; margin-right: 5px; margin-bottom: 10px; float: left; display: inline-block;
}
.website li:nth-of-type(2n) {
	width: 48%; margin-bottom: 10px; margin-left: 5px; float: right; display: inline-block;
}
a.button {
	border-radius: 0.5em; width: 130px; height: 40px; text-align: center; line-height: 40px; font-size: 12pt; text-decoration: none; display: inline-block; cursor: pointer;
}
a.big.button {
	width: 100%;
}
a.white.button {
	border: 1px solid rgb(183, 183, 183); border-image: none; color: rgb(96, 96, 96);
}
a.white.button:link {
	color: rgb(96, 96, 96);
}
a.white.button:visited {
	color: rgb(96, 96, 96);
}
.bg-FF2E12-ff6f42 {
	color: rgb(0, 0, 0); box-shadow: 0px 2px 4px rgba(0,0,0,0.3); background-color: rgb(243, 243, 243);
}
.dropdown-menu-top {
	background: rgba(0, 0, 0, 0.8); list-style: none !important; top: 48px; right: 5px; margin-bottom: 0px; margin-left: 0px; display: none; position: absolute; z-index: 9999; min-width: 150px; box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
.dropdown-menu {
	background: rgba(0, 0, 0, 0.8); list-style: none !important; top: 48px; right: 5px; margin-bottom: 0px; margin-left: 0px; display: none; position: absolute; z-index: 9999; min-width: 150px; box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
.dropdown-menu-top li {
	border-top-color: rgb(102, 102, 102); border-bottom-color: rgb(0, 0, 0); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.dropdown-menu li {
	border-top-color: rgb(102, 102, 102); border-bottom-color: rgb(0, 0, 0); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.dropdown-menu-top li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.dropdown-menu li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.dropdown-menu-top li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.dropdown-menu li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.dropdown-menu-top li:last-child::after {
	border: currentColor; border-image: none; height: 0px;
}
.dropdown-menu li:last-child::after {
	border: currentColor; border-image: none; height: 0px;
}
.dropdown-menu-top li a {
	margin: 0px; width: auto; height: 39px; text-align: left; color: rgb(253, 247, 247); line-height: 39px; padding-left: 10px; font-size: 16px; display: block;
}
.dropdown-menu li a {
	margin: 0px; width: auto; height: 39px; text-align: left; color: rgb(253, 247, 247); line-height: 39px; padding-left: 10px; font-size: 16px; display: block;
}
.dropdown-menu-top li a:link {
	color: rgb(253, 247, 247);
}
.dropdown-menu-top li a:visited {
	color: rgb(253, 247, 247);
}
.dropdown-menu li a:link {
	color: rgb(253, 247, 247);
}
.dropdown-menu li a:visited {
	color: rgb(253, 247, 247);
}
.dropdown-menu::after {
	border-width: medium 8px 8px; border-style: none solid solid; border-image: none; top: -8px; width: 0px; height: 0px; right: 22px; border-right-color: transparent; border-left-color: transparent; position: absolute; content: ""; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none;
}
.dropdown-menu .icon {
	margin: 0px auto; width: 30px; height: 42px; text-align: center; color: rgb(255, 255, 255); text-transform: none; line-height: 42px; font-family: "base-icon"; font-size: 20px; font-variant: normal; font-weight: normal; float: left; display: inline-block;
}
.section-class {
	margin: 0px; padding: 0px;
}
input {
	vertical-align: middle;
}
img {
	vertical-align: middle;
}
.meet_area {
	padding-left: 20px; margin-top: -50px;
}
.box-content h4 {
	padding-left: 20px; margin-bottom: -25px;
}
.flowstep .step-no {
	background: url("../images/topshow.png") no-repeat 50% -102px;
}
.flowstep .step-sub-box .step-sub {
	background: url("../images/topshow.png") no-repeat 50% -102px;
}
.flowstep {
	margin: -15px auto; padding: 20px 0px; width: 100%;
}
.flowstep ol {
	list-style: none; overflow: hidden;
}
.flowstep li {
	text-align: center; float: left;
}
.flowstep .step-name {
	padding: 3px 0px; color: rgb(136, 136, 136); font-weight: 400;
}
.flowstep .step-no {
	height: 34px; color: rgb(255, 255, 255); line-height: 34px; font-family: "arial black"; font-size: 18px;
}
.flowstep .step-last .step-no {
	background-position: 50% -136px;
}
.flowstep .step-done .step-no {
	background-position: 50% -170px;
}
.flowstep .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.flowstep-4 {
	width: 100%; font-size: 5pt; margin-left: -30px;
}
.flowstep-4 li {
	width: 15%;
}
#nickname {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 90%;
}
ol {
	list-style-position: inside;
}
ul {
	list-style-position: inside;
}
.input_text {
	margin: 13px auto; border-radius: 5px; border: 1px solid rgb(102, 102, 102); border-image: none; width: 90%; height: 40px; color: rgb(0, 0, 0); line-height: 20px; text-indent: 1em; font-family: "Î¢ÈíÑÅºÚ"; font-size: 15px; display: block;
}
.input_textarea {
	margin: 13px auto; border-radius: 5px; border: 1px solid rgb(102, 102, 102); border-image: none; width: 90%; color: rgb(0, 0, 0); line-height: 30px; text-indent: 1em; font-family: "Î¢ÈíÑÅºÚ"; font-size: 12px; display: block;
}
.input_button {
	margin: 13px auto; border-radius: 8px; border: 1px solid rgb(83, 131, 18); border-image: none; width: 83%; height: 40px; color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ"; font-size: 18px; display: block; background-image: url("../images/button-green.png");
}
.btn1 {
	border-width: 1px; border-style: solid; padding: 0px 10px; border-radius: 3px; height: 30px; text-align: center; line-height: 30px; overflow: visible; font-size: 14px; text-decoration: none; margin-top: -40px; margin-right: 10px; vertical-align: middle; float: right; display: inline-block; cursor: pointer;
}
.btn1:hover {
	text-decoration: none;
}
.btn2 {
	border-width: 1px; border-style: solid; padding: 0px 10px; border-radius: 3px; height: 30px; text-align: center; line-height: 30px; overflow: visible; font-size: 14px; text-decoration: none; margin-top: 7px; margin-left: 10px; vertical-align: middle; float: left; display: inline-block; cursor: pointer;
}
.btn2:hover {
	text-decoration: none;
}
.btn_primary {
	border-color: rgb(61, 129, 12); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(96, 180, 82) 0px, rgb(86, 164, 71) 100%); background-color: rgb(86, 164, 71);
}
.btn_primary:hover {
	color: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(90, 171, 77) 0px, rgb(79, 152, 65) 100%); background-color: rgb(83, 160, 70);
}
