################################################################################
#
# VIM
#
################################################################################
*.swp
*.swo

################################################################################
#
# Folders
#
################################################################################
tpl/static/attachment/
themes/
RunTime/
customer_imgs/
uploads/
.idea/
.settings/
attached/
certs/
tpl/Wap/default/common/vote/images/
###############################################################################
#
# Files
#
################################################################################
*.xdb
*.mp4
*.ogg
.DS_Store
.buildpath
.project
