body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
b {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
u {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
i {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
center {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 14px; font-style: inherit; font-weight: inherit;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
body {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: "microsoft yahei",Verdana,"Î¢ÈíÑÅºÚ",Helvetica,Tahoma,sans-serif,"ËÎÌå",Arial; font-size: 1em; cursor: default; min-width: 320px; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -webkit-touch-callout: none; -ms-content-zooming: none; -webkit-text-size-adjust: 100%;
}
h1 {
	font-style: normal; font-weight: normal;
}
h2 {
	font-style: normal; font-weight: normal;
}
h3 {
	font-style: normal; font-weight: normal;
}
h4 {
	font-style: normal; font-weight: normal;
}
h5 {
	font-style: normal; font-weight: normal;
}
h6 {
	font-style: normal; font-weight: normal;
}
button {
	font-style: normal; font-weight: normal;
}
input {
	font-style: normal; font-weight: normal;
}
select {
	font-style: normal; font-weight: normal;
}
textarea {
	font-style: normal; font-weight: normal;
}
table {
	font: inherit; border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
button {
	text-transform: none; font-size: 100%; text-decoration: none; word-break: normal; -moz-outline: none;
}
input {
	text-transform: none; font-size: 100%; text-decoration: none; word-break: normal; -moz-outline: none;
}
select {
	text-transform: none; font-size: 100%; text-decoration: none; word-break: normal; -moz-outline: none;
}
textarea {
	text-transform: none; font-size: 100%; text-decoration: none; word-break: normal; -moz-outline: none;
}
button {
	vertical-align: middle; cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	vertical-align: middle; cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	vertical-align: middle; cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	vertical-align: middle; cursor: pointer; -webkit-appearance: button;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
q {
	quotes: none;
}
blockquote {
	quotes: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
textarea {
	overflow: auto; vertical-align: top; resize: none;
}
ul {
	list-style-type: none;
}
ol {
	list-style-type: none;
}
li {
	list-style-type: none;
}
dl {
	list-style-type: none;
}
i {
	font-style: normal;
}
em {
	font-style: normal;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
img {
	border: 0px currentColor; vertical-align: middle; -ms-interpolation-mode: bicubic; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	color: rgb(0, 0, 0); text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
	
}
a:focus {
	-moz-outline: none;
}
.reds {
	color: rgb(204, 0, 0);
}
a.reda {
	color: rgb(204, 0, 0);
}
.blue {
	color: rgb(0, 0, 255);
}
a.bluea {
	color: rgb(0, 0, 255);
}
.f0 {
	font-size: 0px;
}
.f12 {
	font-size: 0.75em;
}
.f14 {
	font-size: 0.87em;
}
.f16 {
	font-size: 1em;
}
.f18 {
	font-size: 1.12em;
}
.f20 {
	font-size: 1.25em;
}
.f22 {
	font-size: 1.37em;
}
.f24 {
	font-size: 1.5em;
}
.f26 {
	font-size: 1.62em;
}
.f28 {
	font-size: 1.75em;
}
.f30 {
	font-size: 1.87em;
}
.fmy {
	font-family: "Microsoft Yahei",Verdana,"u5faeu8f6fu96c5u9ed1","ËÎÌå",Arial;
}
.dn {
	display: none;
}
.di {
	display: inline;
}
.db {
	display: block;
}
.dib {
	display: inline-block;
}
.zom {
	zoom: 1;
}
.clear {
	width: 100%; height: 0px; line-height: 0; clear: both; font-size: 0px; display: block;
}
.clear::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.rdu {
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.rdu6 {
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ovh {
	overflow: hidden;
}
.por {
	position: relative;
}
.poa {
	position: absolute;
}
.fwn {
	font-style: normal; font-weight: normal;
}
.b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
.fsi {
	font-style: italic;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.tl {
	text-align: left;
}
.tj {
	text-align: justify;
}
.tdu {
	text-decoration: underline;
}
.tdn {
	text-decoration: none;
}
.tdn:hover {
	text-decoration: none;
}
.tdn a:hover {
	text-decoration: none;
}
a.tdu:hover {
	text-decoration: none;
}
.bk {
	word-wrap: break-word;
}
.vm {
	vertical-align: middle;
}
.vtb {
	vertical-align: text-bottom;
}
.vb {
	vertical-align: bottom;
}
.vt {
	vertical-align: top;
}
.vn {
	vertical-align: -2px;
}
.auto {
	margin-right: auto; margin-left: auto;
}
.cell {
	width: 2000px; display: table-cell;
}
.cell_bk {
	width: 100%; display: table; table-layout: fixed; word-wrap: break-word;
}
.ell {
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.trans {
	-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
.g0 {
	color: rgb(0, 0, 0);
}
.g3 {
	color: rgb(51, 51, 51);
}
.g6 {
	color: rgb(102, 102, 102);
}
.g9 {
	color: rgb(153, 153, 153);
}
.gc {
	color: rgb(204, 204, 204);
}
.wh {
	color: white;
}
.m0 {
	margin: 0px;
}
.ml1 {
	margin-left: 1px;
}
.ml2 {
	margin-left: 2px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}
.mr1 {
	margin-right: 1px;
}
.mr2 {
	margin-right: 2px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px;
}
.mt1 {
	margin-top: 1px;
}
.mt2 {
	margin-top: 2px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mb1 {
	margin-bottom: 1px;
}
.mb2 {
	margin-bottom: 2px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.pl1 {
	padding-left: 1px;
}
.pl2 {
	padding-left: 2px;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl15 {
	padding-left: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pt1 {
	padding-top: 1px;
}
.pt2 {
	padding-top: 2px;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.pr1 {
	padding-right: 1px;
}
.pr2 {
	padding-right: 2px;
}
.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pr15 {
	padding-right: 15px;
}
.pr20 {
	padding-right: 20px;
}
.pr30 {
	padding-right: 30px;
}
.pb1 {
	padding-bottom: 1px;
}
.pb2 {
	padding-bottom: 2px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb15 {
	padding-bottom: 15px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb30 {
	padding-bottom: 30px;
}
.p1 {
	padding: 1px;
}
.p2 {
	padding: 2px;
}
.p5 {
	padding: 5px;
}
.p10 {
	padding: 10px;
}
.p15 {
	padding: 15px;
}
.p20 {
	padding: 20px;
}
.p30 {
	padding: 30px;
}
.posfixbot {
	padding: 4px 0px; left: 0px; width: 100%; bottom: 0px; border-top-color: rgb(219, 219, 219); border-bottom-color: rgb(219, 219, 219); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: fixed; z-index: 9999; background-color: rgb(240, 239, 239); _bottom: auto; _width: 100%; _position: absolute;
}
.posfixbot dd {
	width: 25%; text-align: center; margin-top: 1px; float: left; display: inline-block;
}
.posfixbot dd img {
	width: 20px; height: 20px; max-height: 20px; max-width: 20px;
}
.i_textc {
	color: rgb(209, 0, 0);
}
.posfixbot dd a:hover {
	color: rgb(209, 0, 0); text-decoration: none;
}
.posfixbot dd p {
	line-height: 20px; font-size: 14px;
}
.footbox {
	margin: 10px 10px 60px; text-align: center;
}
.footbox p {
	color: rgb(153, 153, 153); line-height: 28px; font-size: 14px;
}
.footbox p a {
	color: rgb(219, 62, 8);
}
.ft_box {
	width: 100%;
}
.ft_box_t {
	border: 1px solid rgb(228, 228, 228); width: 48%; line-height: 26px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
}
